html,
body {
	/*Basic Setup*/
	padding: 0;
	margin: 0;
	width: 100%;
	height: 100%;
	min-height: 100%;
	display: flex;
	flex-direction: column;

	font-family: Arial;
}

/*Basic Style --------------------------------------------------------------*/

/*Navigation Bar for Mobile --------------------------------------------------------------*/
#navigation_mobile {
	flex-direction: column;

	position: absolute;
	top: 0;
	bottom: 0;
	width: 60%;

	background-color: #00334d;
	z-index: 99;
}

#navigation_mobile a {
	width: 80%;

	margin-right: auto;
	margin-left: auto;
	padding-top: 25px;
	padding-bottom: 25px;
	padding-right: 50px;
	padding-left: 50px;	
	
	color: white;
	font-size: 1.5em;
	border-bottom: 1px solid white;
}

#navigation_mobile a:link, 
#navigation_mobile a:visited {
	text-decoration: none;
}

#navigation_mobile a:hover {
	color: grey;
}

#close_nav {
	display: flex;
	align-items: center;

	position: absolute;
	margin-top: 10px;
	margin-right: 10px;
	right: 0;
	height: 40px;
	width: 32px;

	background: url('icon.png') -40px 0px;
}

.nav_logo {
	display: flex;
	flex-direction: row;
	align-items: center;

	height: 150px;
	width: 100%;
	
	margin-right: auto;
	margin-left: auto;
	
	color: white;
	font-size: 2em;

	border-bottom: 1px solid white;
	
	background-color: #002233;
}

.nav_logo img {
	height: 150px;
	width: 150px;
}

/*Header Style --------------------------------------------------------------*/
#header {
	position: fixed;	
	top: 0;
	width: 100%;
	height: 100px;

	background-color: #002233;
}

.header_container {
	height: 100%;
	width: 80%;
	display: flex;
	flex-direction: row;

	text-align: center;
	margin: auto;
}

.device_menu {
	display: none;
}

.head_logo {
	height: 100%;
	display: flex;
	flex-direction: row;
	align-items: center;
	margin-right: 10px;
}

.head_logo img {
	height: 100px;
	width: 100px;
}

.head_logo p {
	font-size: 2em;
}

.head_logo a:link,
.head_logo a:visited,
.head_logo a:hover {
	text-decoration: none;
}

#name_logo {
	display: flex;
	align-items: center;
	height: 100%;

	color: white;
}

.header_links {
	height: 100%;
	display: flex;
	flex-direction: row;
	align-items: center;
	margin-left: auto;
}

.header_links ul {
	display: flex;
	align-items: center;

	height: 100%;
	margin: auto;
}

.header_links li {
	list-style-type: none;
	display: flex;
	align-items: center;

	height: 80%;
	margin: auto;
	padding-right: 50px;
	padding-left: 50px;
	
	border-left: 1px solid white;
}

.header_links a:link,
.header_links a:visited {
	text-decoration: none;
	color: white;
}

.header_links a:hover {
	color: grey;
}

/*Form Input Style --------------------------------------------------------------*/
#content {	
	display: flex;	
	flex-direction: column;
	flex: 1;

	width: 100%;
}

.development_advise {
	width: 30%;
	margin-top: 110px;
	margin-right: auto;
	margin-left: auto;

	border-style: solid;
	border-width: 2px;
	border-color: lightcoral;
	border-radius: 25px;

	text-indent: 25px;
	font-size: 0.8em;
	color: darkred;

	background-color: rgb(255, 232, 232);
}

.development_advise p {
	margin-left: 20px;
	margin-right: 20px;
}

.development_advise span {
	color: red;
	font-style: bold;
}

#form_title {
	text-align: center;
	margin-top: 20px;
	margin-right: auto;
	margin-left: auto;
}

.inputform {
	display: flex;
	flex-direction: column;

	width: 30%;
	margin-top: 20px;
	margin-right: auto;
	margin-left: auto;
	margin-bottom: 60px;

	text-align: center;
	font-size: 1.2em;
	box-sizing: border-box;
	background-color: #f2f2f2;
	box-shadow: 0px 2px 4px rgba(0, 0, 0, 0.2),
				0px 25px 50px rgba(0, 0, 0, 0.1);
}

.input_field {
	display: flex;
	flex-direction: column;

	margin-bottom: 20px;
}

.inputform input[type='text'],
.inputform input[type='email'],
.inputform input[type='password'] {
	display: block;
	width: 90%;
	margin-right: auto;
	margin-left: auto;

	font-style: italic;
	font-size: 1em;
}

.birth_input {
	display: flex;
	flex-direction: row;

	width: 90%;
	margin-right: auto;
	margin-left: auto;
}

.birth_input input[type='number'] {
	width: 32%;

	font-size: 1em;
	font-style: italic;
}

.birth_input select{
	width: 32%;

	margin-left: auto;
	margin-right: auto;

	font-size: 1em;
	font-style: italic;
}

.inputform input[type='button'] {
	width: 40%;
	margin-top: 0px;
	margin-right: auto;
	margin-left: auto;
	margin-bottom: 20px;
	
	/*border: none;*/
	font-size: 1.5em;
}

.text_field_group {
	margin-top: 10px;
	margin-bottom: 20px;
}

.gender_select {
	width: 50%;

	margin-right: auto;
	margin-left: auto;

	font-size: 1em;
	font-style: italic;
}

.contract_radio_group {
	width: 90%;
	margin: auto;
	padding: 10px 0 10px 0;
	display: flex;
	align-items: center;

	border-style: inset;
	border-width: 1px;

	text-align: center;
	font-size: 0.7em;

	background-color: #ffe6e6;
}

.error_message {
	width: 90%;

	margin-top: 5px;
	margin-left: auto;
	margin-right: auto;
	margin-bottom: 0px;

	text-align: left;
	font-size: 0.6em;
	color: red;
}

.error_input {
	border-width: 1px;
	border-color: red;
	border-style: solid;

	background-color: rgb(255, 232, 232);
}

/*Footer Configuration --------------------------------------------------------------*/
.footer {
	width: 100%;
	border-top: 1px solid #004080;

	background-color: #002233;
}

/*Footer Top with Social Links --------------------------------------------------------------*/
.footer_top {
	color: white;
}

.social_links {
	display: flex;
	margin: auto;
	width: 80%;

	border-bottom: 1px solid grey;
}

.email_links {
	display: flex;
	align-items: center;

	margin-left: 10px;
}

.social_icons {
	display: flex;
	align-items: center;
	margin-left: auto;
}

.social_links li {
	list-style-type: none;
	display: inline-block;
	margin-right: 10px;
}

.img_link {
	height: 40px;
	width: 40px
}

/*Footer Botton with another links and Copyright --------------------------------------------------------------*/
.links {
	display: flex;
	flex-direction: row;
	
	width: 80%;
	margin: auto;
	
	color: grey;
	font-size: 0.8em;
	text-decoration: none;
}

.links a:link,
.links a:visited {
	color: grey;
	text-decoration: none;
	margin-left: 30px;
	float: left;
}

.links a:hover {
	color: lightgrey;
}

#CopyrightText {
	margin-left: auto;
	margin-right: 10px;
}

/*Javascript Properties --------------------------------------------------------------*/
.error {
	background-color: #ffb3b3;
}

/*Media Queries --------------------------------------------------------------*/
@media (max-device-width: 1200px)
{
	.head_logo img{
		height: 70px;
		width: 70px;
	}

	.head_logo p {
		font-size: 1.5em;
	}

	.development_advise {
		width: 40%;
	}

	.inputform {
		width: 40%;
	}

	.inputform input {
		
	}
}

@media only screen and (max-device-width: 1024px)
{
	/*Header Style*/
	#header {
		height: 80px;
	}

	.head_logo img{
		height: 50px;
		width: 50px;
	}

	.head_logo p {
		font-size: 1.2em;
	}

	/*Content Style*/
	.development_advise {
		width: 60%;
	}

	.inputform {
		width: 60%;
	}
}

/*Mobile Style  --------------------------------------------------------------*/
@media only screen and (max-device-width: 768px)
{
	#container {
		display: initial;
		width: initial;
		height: initial;
	}

	/*Header Style*/
	#header {
		height: 70px;
	}

	.header_container {
		width: 95%;
	}

	/*Content Style*/
	.development_advise {
		width: 60%;
	}

	.inputform {
		width: 60%;
	}

	/*Footer Style*/
	.email_links {
		margin-top: 10px;
	}

	.social_links {
		width: 95%;
	}

	.links {
		width: 95%;
	}
}

@media only screen and (max-device-width: 425px)
{
	/*Navegation Bar Style*/
	#navigation_mobile {
		width: 90%;
	}

	#navigation_mobile a {
		width: 65%;
	}

	/*
	#close_nav {
		height: 40px;
		width: 40px;
	}
	*/

	.nav_logo {
		font-size: 1.5em;
	}

	.nav_logo img {
		height: 125px;
		width: 125px;
	}

	/*Header Style*/
	#header {
		height: 70px;
	}

	.header_container {
		width: 100%;
	}

	.head_logo {
		margin-left: auto;
	}

	.head_logo img {
		height: 45px;
		width: 45px;
	}

	#name_logo {
		font-size: 0.9em;
		margin-left: 10px;
	}

	.header_links {
		display: none;
	}

	.device_menu {
		height: 100%;
		width: 100px;
		display: flex;
		align-items: center;

		background-color: red;
	}

	.device_menu p {
		text-align: center;
	}

	/*Content Style*/
	.development_advise {
		width: 95%;

		margin-top: 80px;
	}

	.inputform {
		width: 95%;
	}

	.inputform input[type='button'] {
		width: 95%;
	}

	/*Footer Style*/
	.social_links {
		width: 95%;
		flex-direction: column;

		margin: auto;
	}

	.email_links {
		text-align: center;
	}

	.social_icons {
		display: flex;
		justify-content: space-between;
		align-items: center;
		margin: auto;
	}

	.img_link {
		height: 50px;
		width: 50px
	}

	.links {
		width: 100%;
		flex-direction: column;
		align-items: center;
	}

	.links p {
		width: 100%;
		display: flex;
		flex-direction: column;
		align-items: center;
	}

	.links a {
		width: 50%;
		margin-top: 5px;
		margin-bottom: 5px;
		margin-right: 30px;
		text-align: center;
	}

	#CopyrightText {
		width: 100%;
		margin-bottom: 10px;

		text-align: center;
	}
}

@media only screen and (max-device-width: 320px) {
	/*Navegation Bar Style*/
	#navigation_mobile {
		width: 95%;
	}

	#navigation_mobile a {
		width: 60%;
	}

	.nav_logo {
		height: 120px;

		font-size: 1.2em;
	}

	.nav_logo img {
		height: 100px;
		width: 100px;
	}

	/*Header Style*/
	#header {
		height: 60px;
	}

	.inputform {
		font-size: 1.3em
	}
}