html,
body {
	/*Basic Setup*/
	padding: 0;
	margin: 0;
	width: 100%;
	height: 100%;
	min-height: 100%;
	display: flex;
	flex-direction: column;

	font-family: Arial;
}

/*Header Style --------------------------------------------------------------*/
#header {
	position: fixed;	
	top: 0;
	width: 100%;
	height: 100px;

	background-color: #002233;
}

.header_container {
	height: 100%;
	width: 80%;
	display: flex;
	flex-direction: row;

	text-align: center;
	margin: auto;
}

.head_logo {
	height: 100%;
	display: flex;
	flex-direction: row;
	align-items: center;
	margin-right: 10px;
}

.head_logo img {
	height: 100px;
	width: 100px;
}

.head_logo p {
	font-size: 2em;
}

.head_logo a:link,
.head_logo a:visited,
.head_logo a:hover {
	text-decoration: none;
}

#name_logo {
	display: flex;
	align-items: center;
	height: 100%;

	color: white;
}

.header_links {
	height: 100%;
	display: flex;
	flex-direction: row;
	align-items: center;
	margin-left: auto;
}

.header_links ul {
	display: flex;
	align-items: center;

	height: 100%;
	margin: auto;
}

.header_links li {
	list-style-type: none;
	display: flex;
	align-items: center;

	height: 80%;
	margin: auto;
	padding-right: 50px;
	padding-left: 50px;
	
	border-left: 1px solid white;
}

.header_links a:link,
.header_links a:visited {
	text-decoration: none;
	color: white;
}

.header_links a:hover {
	color: grey;
}

/*Base Content --------------------------------------------------------------*/
.development_advise {
	width: 30%;
	margin-top: 110px;
	margin-right: auto;
	margin-left: auto;

	border-style: solid;
	border-width: 2px;
	border-color: lightcoral;
	border-radius: 25px;

	text-indent: 25px;
	font-size: 0.8em;
	color: darkred;

	background-color: rgb(255, 232, 232);
}

.development_advise p {
	margin-left: 20px;
	margin-right: 20px;
}

.development_advise span {
	color: red;
	font-style: bold;
}

/*Footer Configuration --------------------------------------------------------------*/
.footer {
	width: 100%;
	border-top: 1px solid #004080;

	background-color: #002233;
}

/*Footer Top with Social Links --------------------------------------------------------------*/
.footer_top {
	color: white;
}

.social_links {
	display: flex;
	margin: auto;
	width: 80%;

	border-bottom: 1px solid grey;
}

.email_links {
	display: flex;
	align-items: center;

	margin-left: 10px;
}

.social_icons {
	display: flex;
	align-items: center;
	margin-left: auto;
}

.social_links li {
	list-style-type: none;
	display: inline-block;
	margin-right: 10px;
}

.img_link {
	height: 40px;
	width: 40px
}

/*Footer Botton with another links and Copyright --------------------------------------------------------------*/
.links {
	display: flex;
	flex-direction: row;
	
	width: 80%;
	margin: auto;
	
	color: grey;
	font-size: 0.8em;
	text-decoration: none;
}

.links a:link,
.links a:visited {
	color: grey;
	text-decoration: none;
	margin-left: 30px;
	float: left;
}

.links a:hover {
	color: lightgrey;
}

#CopyrightText {
	margin-left: auto;
	margin-right: 10px;
}

/*Javascript Properties --------------------------------------------------------------*/
.error {
	background-color: #ffb3b3;
}

/*Media Queries --------------------------------------------------------------*/
@media (max-device-width: 1200px)
{
	.head_logo img{
		height: 70px;
		width: 70px;
	}

	.head_logo p {
		font-size: 1.5em;
	}

	.development_advise {
		width: 40%;
	}

	.inputform {
		width: 40%;
	}

	.inputform input {
		
	}
}

@media only screen and (max-device-width: 1024px)
{
	/*Header Style*/
	#header {
		height: 80px;
	}

	.head_logo img{
		height: 50px;
		width: 50px;
	}

	.head_logo p {
		font-size: 1.2em;
	}

	/*Content Style*/
	.development_advise {
		width: 60%;
	}

	.inputform {
		width: 60%;
	}
}