@import url("base.css");
@import url("mobile.css");

/*Form Input Style --------------------------------------------------------------*/
#content {	
	
	flex-direction: column;
	flex: 1;

	width: 100%;
}

#container {
	display: flex;
	flex-direction: column;
	min-height: 100vh;
}

.message_box_error,
.message_box_accept,
.message_wait {
	width: 30%;
	margin-top: 10px;
	margin-right: auto;
	margin-left: auto;

	border-style: solid;
	border-width: 2px;
	border-color: lightcoral;
	border-radius: 25px;

	text-indent: 25px;
	font-size: 0.8em;
	color: darkred;

	background-color: rgb(255, 232, 232);
}

.message_box_accept {
	border-color: lightgreen;
	color: darkgreen;
	background-color: rgb(225, 255, 225);
}

.message_wait {
	border-color: gold;
	color: goldenrod;
	background-color: rgb(255, 255, 232);
}

#loading_icon {
	margin: 20px auto;
	height: 40px;
	width: 40px;
}

#form_title {
	text-align: center;
	margin-top: 20px;
	margin-right: auto;
	margin-left: auto;
}

.inputform {
	display: flex;
	flex-direction: column;

	width: 30%;
	margin-top: 20px;
	margin-right: auto;
	margin-left: auto;
	margin-bottom: 60px;

	text-align: center;
	font-size: 1.2em;
	box-sizing: border-box;
	background-color: #f2f2f2;
	box-shadow: 0px 2px 4px rgba(0, 0, 0, 0.2),
				0px 25px 50px rgba(0, 0, 0, 0.1);
}

.input_field {
	display: flex;
	flex-direction: column;

	margin-bottom: 20px;
}

.inputform input[type='text'],
.inputform input[type='email'],
.inputform input[type='password'] {
	display: block;
	width: 90%;
	margin-right: auto;
	margin-left: auto;

	font-style: italic;
	font-size: 1em;
}

.birth_input {
	display: flex;
	flex-direction: row;

	width: 90%;
	margin-right: auto;
	margin-left: auto;
}

.birth_input input[type='number'] {
	width: 32%;

	font-size: 1em;
	font-style: italic;
}

.birth_input select{
	width: 32%;

	margin-left: auto;
	margin-right: auto;

	font-size: 1em;
	font-style: italic;
}

.inputform input[type='button'] {
	width: 40%;
	margin-top: 0px;
	margin-right: auto;
	margin-left: auto;
	margin-bottom: 20px;
	
	/*border: none;*/
	font-size: 1.5em;
}

.text_field_group {
	margin-top: 10px;
	margin-bottom: 20px;
}

.gender_select {
	width: 50%;

	margin-right: auto;
	margin-left: auto;

	font-size: 1em;
	font-style: italic;
}

.contract_radio_group {
	width: 90%;
	margin: auto;
	padding: 10px 0 10px 0;
	display: flex;
	align-items: center;

	border-style: inset;
	border-width: 1px;

	text-align: center;
	font-size: 0.7em;

	background-color: #ffe6e6;
}

.error_message {
	width: 90%;

	margin-top: 5px;
	margin-left: auto;
	margin-right: auto;
	margin-bottom: 0px;

	text-align: left;
	font-size: 0.6em;
	color: red;
}

.error_input {
	border-width: 1px;
	border-color: red;
	border-style: solid;

	background-color: rgb(255, 232, 232);
}